
%fieldset
 %legend
  login
  %div{:style => "margin-bottom:10px"}
 =form_for(:session, url: login_path) do |f|
  =f.text_field :email, {:placeholder=>'e-mail'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :password, {:placeholder => 'password', :type => 'password'}
  =f.submit 'Login Now!'
  =link_to "New user? Sign up now!", accounts_path
