%flash
 =flash[:danger]
 =flash[:success]
%fieldset
 %legend
 =form_for(:session, url: login_path) do |f|

  =f.text_field :email, {:placeholder => 'E-mail' }

  =f.text_field :password,{:placeholder => 'Password', :type=>'password'}
  
  =f.submit 'I am already a volunteer!'
  %div{:style => 'margin-bottom:5px'}
  .checkbox
  =f.check_box :keep_me_logged_in 
  keep me logged in 
  
 = link_to "Forget your password", input_your_email_path
 
  