%h2 Send an email
%h3 
 Reciever: 
 =@account.firstname
 &nbsp;
 =@account.lastname
 
=form_for send_gmail_path, :method => :post do
 =text_area_tag :body,nil, placeholder: 'compose your email here',rows: 10, cols: 50, id: 'mail_composer'
 %br
 =submit_tag 'send' 