=render 'admin_sessions/signin'
=render 'layouts/adminheader'
%fieldset
%h2
 Sign up
 %legend
.jumbotron
 =form_for @admin  do |f|
  %strong E-mail
  =f.text_field :email, {:placeholder => 'E-mail', class: 'form-inline'} 
  %strong Password
  =f.text_field :password, {:type=>'password',:placeholder => 'Password',class: 'form-inline'}
  /%div{:style => "margin-bottom:10px"}
  %strong The Magic Key
  =f.text_field :key, {:placeholder => 'The Magic Key',class: 'form-inline'}
  %div{:style => "margin-bottom:10px"}
  %p
  =f.submit 'Join Us Now!',class: 'btn btn-primary'
