=render 'layouts/adminheader'
%fieldset
 %h2
  Sign in 
  %legend
 .jumbotron
  =form_for(:session, url: adminlogin_path,html: {class: 'form-inline'}) do |f|
   =f.label 'E-mail'
   =f.text_field :email, {:placeholder => 'E-mail' }
   =f.label 'Password'
   =f.text_field :password,{:placeholder => 'Password', :type=>'password'}
   =f.label 'The Magic Key'
   =f.text_field :key,{:placeholder => 'The Magic Key', :type=>'password'}
   =f.submit 'Sign In',class: 'btn btn-success'
   %div{:style => 'margin-bottom:5px'}
   .checkbox
   =f.check_box :keep_me_logged_in 
   Keep Me Logged In 
  = link_to "Forget Your Password?", input_your_email_path, class: 'btn btn-warning btn-xs'
/%div{:style => "margin-bottom: 30px"} 
%legend 
 
  