%flash
 =flash[:danger]
%fieldset
 %legend
 =form_for(:session, url: adminlogin_path) do |f|

  =f.text_field :email, {:placeholder => 'E-mail' }

  =f.text_field :password,{:placeholder => 'Password', :type=>'password'}

  =f.text_field :key,{:placeholder => 'TheMagicKey', :type=>'password'}
  
  =f.submit 'I am Alma Garcia!'
  %div{:style => 'margin-bottom:5px'}
  .checkbox
  =f.check_box :keep_me_logged_in 
  keep me logged in 
  
 = link_to "Forget you password", forget_your_password_path
 
  