<div class="center jumbotron">
  <h1> Animal Center Volunteering System</h1>
  <h2>
    Welcome to the Bryan Animal Center volunteering system! 
  </h2>
  <%= link_to "Signup/Signin Page", accounts_path, class: 'btn btn-success' %>
  <br/>
  <br/>
  <%= link_to "Signin Page","login", class: 'btn btn-success' %>
  <br/>
  <br/>
  <%= link_to "Admin_Login", admins_path, class: 'btn btn-primary' %>
</div>

 