<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Congradulations,dear <%= @user.firstname %> <%= @user.lastname%></strong></p>
    <p>
      Your profile have passed our background check and you are qualified as our volunteer, please go back to your profile page and finish the new application form and schedule a appropriate time for your volunteering!
    </p>
    
  </body>
</html>