<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Sorry,dear <%= @user.firstname %> <%= @user.lastname%></strong></p>
    <p>
      Your profile has failed our background check and you are currently not qualified as our volunteer for some reasons, developer currently don't know how to tell you.We will figure out a way later on.LOL 
    </p>
    
  </body>
</html>