<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>Welcome to animal-center-volunteering system, <%= @user.firstname %></strong></p>
    <p>
      reset your password and keep it this time.
      <br>
    </p>
    <p>
     click here <a href="http://localhost:3000/reset_your_password">Reset my password now!</a>
.
    </p>
    <p>Thanks for using our app and have a great day!</p>
  </body>
</html>