%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %a{:href => 'http://localhost:3000/adminlogout'} 
     %button.btn.btn-default{:type => "button"}Adminstrator Logout  