%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %button.btn.btn-default
     %a{:type => "button", :href => "https://project606-juliaaaa2015.c9users.io/adminsignup"} Adminstration Logout 
    