%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %a{:href => 'https://project606-juliaaaa2015.c9users.io/adminlogout'} 
     %button.btn.btn-default{:type => "button"}Adminstrator Logout  