%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %a{:href => 'https://project606-juliaaaa2015.c9users.io/viewapplication'} 
     %button.btn.btn-default{:type => "button"}View My Application 
    %a{:href => 'https://project606-juliaaaa2015.c9users.io/profiles'} 
     %button.btn.btn-default{:type => "button"}Profile 
    %a{:href => 'https://project606-juliaaaa2015.c9users.io/logout'} 
     %button.btn.btn-default{:type => "button"}Account Logout  
