%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %button.btn.btn-default
     %a{:href => "https://project606-juliaaaa2015.c9users.io/viewapplication" , :type => "button"} View my application 
    %button.btn.btn-default
     %a{:type => "button", :href => "https://project606-juliaaaa2015.c9users.io/profiles"} Profile 
    %button.btn.btn-default
     %a{:type => "button", :href => "https://project606-juliaaaa2015.c9users.io/logout"} Logout 

    
  
  