%header.navbar.navbar-fixed-top
 .row
  .col-xs-5
  .col-xs-9
   .btn-group{"aria-label" => "a", :role => "group"}
    %a{:href => 'http://localhost:3000/viewapplication'} 
     %button.btn.btn-default{:type => "button"}View My Application 
    %a{:href => 'http://localhost:3000/profiles'} 
     %button.btn.btn-default{:type => "button"}Profile 
    %a{:href => 'http://localhost:3000/logout'} 
     %button.btn.btn-default{:type => "button"}Account Logout  
