%h1 Check your email
= form_tag receive_your_email_path do 
  = label :account, 'You will receive an email from us with instructions for resetting your password. '
  = label :account, 'If you do not receive this email, please check your junk mail folder or visit our Help pages to contact Customer Service for futher assistance.'
  