%h2 Check your email
%legend
.jumbotron
  %h3 'You will receive an email from us with instructions for resetting your password.'
  %h3 'If you do not receive this email, please check your junk mail folder or click resent button.'
  %br
  = button_to "resend email", resend_your_email_path, class: 'btn btn-success'