%h1 Forget your Password?
=form_tag forget_your_password_path do

  =label :account, :email,'Please input your email'
  =text_field :account, 'email'
= link_to 'Continue',receive_your_email_path
/= link_to 'Reset', accounts_path, :method => :post
