%flash
  =flash[:danger] 
%h1 Input Your Email
=form_for input_your_email_path, :method => :post do

  =label :email,'Please input your email'
  =text_field_tag :email,nil, placeholder: 'email'
  =submit_tag 'Reset' 
