%h1
 Animal Center 
=render 'sessions/signin'
%fieldset
 %flash
  =flash[:danger] 
 =form_for @account do |f|
  =f.text_field :firstname, {:placeholder => 'Firstname'}
  =f.text_field :middlename, {:placeholder => 'Middlename'}
  =f.text_field :maidenname, {:placeholder => 'Maidenname'}
  =f.text_field :lastname,  {:placeholder => 'Lastname'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :gender, {:placeholder => 'Gender'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :DOB, {:placeholder => 'Date of Birth'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :email, {:placeholder => 'E-mail'}
  =f.text_field :password, {:type=>'password',:placeholder => 'password'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :homephone, {:placeholder => 'Homephone'}
  =f.text_field :cellphone, {:placeholder => 'Cellphone'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :current_address, {:placeholder => 'Address'}
  %p
  =f.submit 'Join us now!'
