=render 'layouts/navigation'
%fieldset
 -if @account.errors.any?
  %div{:id=>"error_explanations"}
  =pluralize(@account.errors.count, "error") #count the amount of errors(error)
  has been found!
  %ul
   -@account.errors.full_messages.each do |msg|
    %li
     =msg
 %flash
  =flash[:danger] 
  .container
   .row
    .col-xs-6
    .col-xs-6
     /%h2 Sign Up
     .jumbotron{:style => "width:430px"} 
      =form_for @account do |f|
       %div{:style => "margin-bottom:10px"}
       =f.label 'Name' 
       %br
       =f.text_field :firstname, {:placeholder => 'First'} 
       =f.text_field :middlename, {:placeholder => 'Middle'}
       %div{:style => "margin-bottom:10px"}
       =f.text_field :maidenname, {:placeholder => 'Maiden'}
       =f.text_field :lastname,  {:placeholder => 'Last'}
       %div{:style => "margin-bottom:10px"}
       %strong Date Of Birth
       %br
       =f.text_field :DOB, {:placeholder => 'MM-DD-YYYY',:size => 42}
       %div{:style => "margin-bottom:10px"}
       =f.label 'E-mail' 
       %br
       =f.text_field :email, :size => 42 
       %div{:style => "margin-bottom:10px"}
       =f.label 'Password' 
       %br
       =f.text_field :password, {:type=>'password',:size => 42}
       =f.label 'Your password must be 6~20 characters!'
       %div{:style => "margin-bottom:10px"}
       %strong Phone Number 
       %br
       =f.text_field :homephone, {:placeholder => 'Homephone'}
       =f.label 'Your homephone must be xxx-xxx-xxxx!'
       =f.text_field :cellphone, {:placeholder => 'Cellphone'}
       =f.label 'Your cellphone must be xxx-xxx-xxxx!'
       %div{:style => "margin-bottom:10px"}
       =f.label 'Address'
       %br
       =f.text_field :street, {:placeholder => 'Street'}
       =f.text_field :city, {:placeholder => 'City'}
       %div{:style => "margin-bottom:10px"}
       =f.text_field :state, {:placeholder => 'State'}
       =f.text_field :country, {:placeholder => 'Country'}
       %div{:style => "margin-bottom:10px"}
       =f.text_field :zip, {:placeholder => 'Zip',:size =>42}
       %div{:style => "margin-bottom:10px"}
       %b#checkboxlink Gender
       /%br/
       %div{:style => "margin-bottom:10px"}
       = f.radio_button :gender, "male", :checked => @account.gender, :onclick=>"FWclickYes()"
       Male
       = f.radio_button :gender, "female", :checked => !@account.gender,:onclick=>"FWclickNo()"
       Female
       %p
       =f.submit 'Join us now!',class: 'btn btn-success'
 
