%h1
 Animal Center 

 =render 'sessions/signin'
%fieldset
 %flash
  =flash[:danger] 
 =form_for @account do |f|
  =f.text_field :password, {:placeholder => 'Password', :type => 'password'}
  =f.text_field :email,{:placeholder => 'E-mail'}
  %div{:style => "margin-bottom:10px"}
  =f.text_field :firstname, {:placeholder => 'Firstname'}
  =f.text_field :lastname,  {:placeholder => 'Lastname'}
  %div{:style => "margin-bottom:20px"}
  %p
   Are you signing up as a criminal?
   =f.check_box :has_convictions
  =f.submit 'Be a volunteer right now!'
