%flash
 =flash[:failed] 
 =flash[:requirement]
%h1 Reset your password
=form_for @account do |f|
 =f.label :password,'Create new password'
 =f.text_field :password,{:placeholder => 'create new password', :type=>'password'}
 =f.label  :password, 'Re-enter new password'
 =f.text_field :password,{:placeholder => 'Re-enter new password',:type=>'password'}
 =f.submit 'Continue'



 