%h2 Reset your password
%legend
.jumbotron
 =form_for @account, :url => reset_your_password_path, :method => :post do |f|
  =f.label :password,'Create new password'
  =f.text_field :password,{:placeholder => 'Create new password', :type=>'password'}
  =f.label  :password_confirmation, 'Re-enter new password'
  =f.text_field :password_confirmation,{:placeholder => 'Re-enter new password',:type=>'password'}
  =f.submit 'Continue', class: 'btn btn-success'
 




 