<h1>Check your email</h1>
<h2>'You will receive an email from us with instructions for resetting your password.'</h2>
<h2>'If you do not receive this email, please check your junk mail folder or click resent button.'</h2>
<%= button_to "resend email", resend_your_email_path, class: 'btn btn-success' %>
