%h1 reset your password
%h3 Your password must be 6-20 characters

=form_for @account do |f|
 =f.label :password,'Create new password'
 =f.text_field :password,{:placeholder => 'create new password'}
 =f.label  :password, 'Re-enter new password'
 =f.text_field :password,{:placeholder => 'Re-enter new password'}
 =f.submit 'Continue'



 